$green: #11C76F;
$blue: #426DFF;
$blue-active: #304fb4;
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 85%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    @extend %center;
    flex-direction: column;
}

button {
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;

    &:active {
        background-color: $blue-active;
    }

    &:first-child {
        margin: 0;
    }
}

.title {
    font-size: clamp(23px, 4vw, 30px);
    margin-top: 10px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $green;
}

.header-inner {
    max-width: 1180px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    font-size: 15px;
    margin: 0 10px;

    img {
        width: 100px;
        
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: 5px 15px;
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        a::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: -3px;
            left: 0;
            background-color: rgb(32, 32, 32);
            transform: scale(0);
            transition: transform .3s ease-in-out;
        }
    
        a:hover::before {
            transform: scaleX(1);
        }
    }

    a {
        text-decoration: none;
        color: white;
        position: relative;
    }

    i {
        font-size: 13px;
    }
}

main {
    width: 100%;
    @extend %center;
    flex-direction: column;
}

.description-wrapper {
    width: 100%;
    @extend %center;
    background-color: #EFF0E8;
    padding: 0 10px;

    &-inner {
        width: 100%;
        max-width: 1180px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.description-left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

.description-image {
    width: 100%;

    img {
        width: 100%;
    }
}

.description-left-side-title {
    font-size: clamp(25px, 4vw, 40px);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.description-left-side-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.invitation-wrapper {
    width: 100%;
    max-width: 1180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
}

.invitation-image {
    width: 100%;

    img {
        width: 100%;
    }
}

.invitation-right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.invitation-right-side-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: $green;
}

.invitation-right-side-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.benefits-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EFF0E8;
    padding: 0 10px;

    &-inner {
        width: 100%;
        max-width: 1180px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.benefits-left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

.benefits-image {
    width: 100%;
    @extend %center;

    img {
        width: 100%;
    }
}

.benefits-left-side-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: $green;
}

.benefits-left-side-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.recomandation-wrapper {
    width: 100%;
    max-width: 1180px;
    text-align: center;
    padding: 0 10px;
}

.recomandation-title {
    color: $green;
    font-weight: bold;
    margin: 20px 10px;
}

.recomandation-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recomandation-image {
    width: 100%;

    img {
        width: 100%;
    }
}

.recomandation-body-title {
    @extend %center;
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
}

aside {
    background-color: rgb(117, 166, 194);
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    transition: .4s ease-in-out;
    display: none;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

i {
    font-size: 25px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#i2 {
    display: none;
}

.aside-menu-logo {
    position: relative;
    bottom: 100px;
}

.aside-menu-logo img {
    width: 100%;
    max-width: 150px;
}

aside a {
    font-size: 20px;
}

.modal-credit-card {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(82, 82, 82, 0.5);

    &-inner {
        max-width: 500px;
        width: 100%;
        @extend %center;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid rgb(90, 90, 90);
        margin: 0 10px;
        white-space: nowrap;
    }

    input {
        border: none;
        border-bottom: 1px solid rgb(85, 85, 85);
        background-color: rgb(248, 248, 178);
    }

    select {
        border: none;
        border-bottom: 1px solid rgb(85, 85, 85);
        background-color: rgb(248, 248, 178);
    }

    textarea {
        resize: none;
        background-color: rgb(248, 248, 178);
        border: none;
        border-bottom: 1px solid rgb(85, 85, 85);
    }

    option {
        background-color: #fff;
    }
}

.modal-credit-card-inner-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.modal-credit-card-inner-header i {
    position: static;
}

.modal-credit-card-inner-body {
    width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
}

.modal-credit-card-inner-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-credit-card-inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.modal-credit-card-inner-footer a {
    color: rgb(54, 54, 54);
    justify-self: flex-start;
}

.modal-credit-card-inner-footer-btn {
    justify-self: flex-end;
}

.modal-credit-card-inner-footer-btn button {
    padding: 5px 15px;
}